* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container-navbar {
  width: 100%;
  justify-content: center;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 11vh;
  align-items: center;
  z-index: 999;
  background-color: #ffffff;
  gap: 320px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.25);
  width: auto;
  margin-top: 30px;
  border-radius: 10px;
  justify-content: center;
  padding: 35px 40px;
}

.navbar h1 {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #a1bc1b;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0px 0px 0px 50px;
}

.navbar a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}

.section-home {
  background-image: url(/images/bkgHome.png);
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
}

.section-home h1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10.5rem;
}

.section-home h2 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

.section-home span {
  color: #a1bc1b;
}

.section-home img {
  width: 26.5rem;
  padding-top: 10px;
  display: flex;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

.section-about {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 90px;
}

.container-about {
  display: flex;
  flex-direction: row;
  margin: 30px 50px;
  gap: 80px;
}

.container-about img {
  width: 24rem;
  height: auto;
}

.text-about {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.text-about h2 {
  color: #f9b401;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}

.text-about h1 {
  font-family: "Outfit", sans-serif;
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 15px;
}

.text-about p {
  color: #777777;
  font-size: 1rem;
  margin-top: 30px;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}

.text-about a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  margin-top: 30px;
  background: linear-gradient(to right, #d0e484 0%, #a1bc1b 100%);
  font-size: 0.8rem;
  padding: 10px 25px;
  border-radius: 8px;
  display: inline-block;
  width: auto;
  align-self: flex-start;
}

.section-product {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 60px;
}

.section-product h2 {
  color: #f9b401;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
}

.section-product h1 {
  font-family: "Outfit", sans-serif;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  margin-top: 10px;
  text-align: center;
}

.container-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-top: 20px;
}

.container-item-product {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.item-product {
  display: flex;
  flex-direction: row;
  width: 35rem;
  border-radius: 6px;
  justify-content: center;
  height: auto;
  gap: 80px;
}

.item-product img {
  width: 12rem;
  transform: translateY(-30%) scale(135%);
  height: auto;
}

.text-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-product h3 {
  font-family: "Outfit", sans-serif;
  color: #f2f2f2;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

.text-product h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #f2f2f2;
  margin-bottom: 20px;
  margin-top: 10px;
}

.checklist-product {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  margin-bottom: 0.2rem;
  justify-content: center;
  align-items: center;
}

.checklist-product img {
  width: 1rem;
  height: auto;
  object-fit: contain;
  margin-top: 0.5rem;
}

.checklist-product p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f2f2f2;
  font-size: 0.8rem;
}

.button-more {
  text-decoration: none;
}

.button-more button {
  padding: 14px 60px 14px 60px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #A1BC1B;
  font-family: 'Outfit', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin: 5rem auto 0 auto;
  display: block;
  cursor: pointer;
}

.section-biskuit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section-biskuit h1 {
  font-family: "Outfit", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 6rem;
}

.container-biskuit {
  display: flex;
  gap: 70px;
  margin-top: 70px;
}

.biskuit {
  background-color: #f9b401;
  border: 5px solid #00317a;
  border-radius: 70px;
  padding: 40px 40px 45px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.biskuit-image {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: auto;
  overflow: hidden;
}

.biskuit-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.biskuit h2 {
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 70px;
}

.biskuit p {
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 0.8rem;
  margin-top: 20px;
  width: 10rem;
  text-align: center;
}

.biskuit-harga {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 5rem;
}

.biskuit-harga h3 {
  font-weight: 600;
  color: #ffffff;
  font-size: 1rem;
}

.biskuit-harga img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.section-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-testimonial h2 {
  color: #f9b401;
  font-family: "Caveat", cursive;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 8rem;
}

.section-testimonial h1 {
  font-family: "Outfit", sans-serif;
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-size: 2.1rem;
  margin-bottom: 3.4rem;
  text-align: center;
}

.container-testimonial {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 23rem;
  align-items: center;
  margin-top: 2rem;
}

.testimonial img {
  width: 7rem;
  height: auto;
}

.testimonial p {
  color: #000000;
  padding: 20px;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 20px;
  border: 1.5px solid #000000;
  text-align: justify;
  font-weight: 400;
  background-color: transparent;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.testimonial h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer {
  color: #fff;
  width: 100%;
  height: 60vh;
  background-color: #A1BC1B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.footer-section {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}

.footer-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  text-align: start;
}

.footer-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.footer-about-company p, 
.footer-legal p,
.footer-Useful-links p,
.footer-newsletter p {
  margin: 14px 0;
}

.footer-icon {
  display: flex;
  margin-top: 23px;
  gap: 7px;
  cursor: pointer;
}

.footer-icon img {
  width: 30px;
  height: 30px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-newsletter input {
  width: 100%;
  height: 40px;
  margin: 20px 0 10px 0;
  background-color: white;
  outline: none;
  border: 1px solid white;
  padding-left: 10px;
  border-radius: 3px;
  color: #737373;
}

.footer-newsletter a button {
  width: 100%;
  height: 40px;
  color: #A1BC1B;
  background-color: white;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.copyright p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  transform: translateY(160%);
}