* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: #f3f3f3;
}

.container-navbar {
  width: 100%;
  justify-content: center;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 11vh;
  align-items: center;
  z-index: 999;
  background-color: #ffffff;
  gap: 320px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.25);
  width: auto;
  margin-top: 30px;
  border-radius: 10px;
  justify-content: center;
  padding: 35px 40px;
}

.navbar h1 {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #a1bc1b;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0px 0px 0px 50px;
}

.navbar a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}

.section-home-pembelian {
  background-image: url(../images/background.png);
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.section-home-pembelian h1 {
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 2.9rem;
  padding-top: 130px;
}

.section-home-pembelian h2 {
  font-weight: 700;
  font-style: normal;
  color: #8fa80f;
  font-size: 2.7rem;
}

.input-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.input-container {
  position: relative;
  width: 30rem;
}

.input-container input {
  width: 100%;
  padding: 15px 50px 15px 60px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-container .input-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-container input::placeholder {
  font-size: 1rem;
  padding-left: 20px;
  font-weight: 400;
  font-style: normal;
  color: #aaaaaa;
}

.search-button {
  position: absolute;
  right: 0px;
  padding: 0px 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  background-color: #8fa80f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
}

.section-product-pembelian {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding-bottom: 20px;
  padding-top: 50px;
}

.section-product-pembelian h1 {
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

.container-product-pembelian {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  gap: 5rem;
}

.container-product-pembelian div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 15rem;
  text-align: left;
  height: auto;
}

.container-product-pembelian img {
  width: 8rem;
  height: auto;
  margin: 0 auto;
}

.container-product-pembelian h2 {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  color: #000000;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 5px;
  font-style: normal;
}

.container-product-pembelian p {
  font-size: 0.8rem;
  font-family: "Outfit", sans-serif;
  color: #6f6f6f;
  font-weight: 500;
  margin-left: 20px;
  font-style: normal;
  margin-top: 5px;
}

.container-product-pembelian a {
  text-decoration: none;
  background-color: #a1bc1b;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  padding: 10px 0px;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 700;
  border-radius: 0px 0px 8px 8px;
}

.footer {
  color: #fff;
  width: 100%;
  height: 60vh;
  background-color: #A1BC1B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.footer-section {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}

.footer-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  text-align: start;
}

.footer-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.footer-about-company p, 
.footer-legal p,
.footer-Useful-links p,
.footer-newsletter p {
  margin: 14px 0;
}

.footer-icon {
  display: flex;
  margin-top: 23px;
  gap: 7px;
  cursor: pointer;
}

.footer-icon img {
  width: 30px;
  height: 30px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-newsletter input {
  width: 100%;
  height: 40px;
  margin: 10px 0 10px 0;
  background-color: white;
  outline: none;
  border: 1px solid white;
  padding-left: 10px;
  border-radius: 3px;
  color: #737373;
}

.footer-newsletter a button {
  width: 100%;
  height: 40px;
  color: #A1BC1B;
  background-color: white;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.copyright p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  transform: translateY(360%);
}

.notFound {
  display: none;
  margin-top: -5rem;
}